* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', serif;
  background-color:#731AED;
  white-space: nowrap;
}

body,
html {
  height: 100%;
}
html{
  cursor: url("./img/cursor.png"), auto;
}
html:active{
  cursor: url("./img/cursor2.png"), pointer;
}

/*  뷰, 메인, 폰트 세팅 */

/* 메인페이지 */
.section01{
  position: relative;
  width: 100%;
  height: 100%;
    overflow: hidden;
}

#down{
  margin:40px 0 0 25px; 
}

.back01{
  position: absolute;
  width: 100%;
}


.main_back img{
  position: absolute;
  height:100%;
  width: 100%;
}

.main01{
    width: 100%;
    height: 100%;
  position: absolute;
  color: #fff;
  top:15%;
  left:10.5%;
}

.main_logo{
  font-weight: 200;
  font-size: 400%;
  letter-spacing: -10%;
  line-height:150%;
  position: absolute;
  animation:fadeIn;
  /* -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); */
}

.main_logo02 {
  font-weight:300;
  font-size: 3.125em;
  letter-spacing: -1px;
  position: absolute;
  top:27%;
}
.newfund{
  font-weight:500;
}
.main_logo03{
  position: absolute;
  top:35%
}

.mainlogo03_img {
  width: 35%;
}

.main_bottom{
  position: absolute;
  color:#FFF;
  opacity: 0.4;
  font-size: 100%;
  top: 90%;
  left: 50%; 
   -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

/* 영상  */

.MotionImage{
  height: 200%;
  width: 100%;
  position: relative;
}

.motion_section{
  position: relative;
  width: 100%;
  text-align: center;

}

#motion_01{
  max-width: 75%;
}






/* 메인2 */


.main02 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}



.section {
  height: 100%;
  width: calc( 100% / 6 );
  float: left;
  position: relative;
}


.section00 {
  height: 100%;
  width: calc( 100% / 6 );
  float: left;
  position: relative;
}


.section:nth-child(1) {
  background: #731AED;
}
.section:nth-child(2) {
  background: #731AED;
}
.section:nth-child(3) {
  background: black;
}
.section:nth-child(4) {
  background: black;
}
.section:nth-child(5) {
  background: black;
}
.section:nth-child(6) {
  background:black;
}

  .main02_sections {
  width: 600%;
  height: 100%;

}






.animated{
  -webkit-animation-fill-mode:both;
  -webkit-animation-duration:2s;
  animation-duration:2s;
}
.animated2{
  animation-delay:.5s;
  -webkit-animation-delay:.5s;
  -webkit-animation-fill-mode:both;
  -webkit-animation-duration:2s;
  animation-duration:2s;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(1);
    -webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
	}
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	0%{
    opacity: 0;
		-webkit-transform: translateY(1);
    -webkit-transform: translateY(40px);
  }
  100% {
		opacity: 1;
	}
} 